<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="studentbase::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container mt-5">
<!-- <div class="my-card mr-3 ml-3"> -->
<div class="card-body">

<div class="container text-center">
<!-- <img src="" style="height:200px; width:200px;"class="my-profileimage" th:src="@{'/img/+${student.image}}" alt="profileimage">
 -->
  <!-- <img src=" " style="height:100px; width:100px;" class = "my-profileimage" th:src="@{'/img/'+${session.students.image}}" alt="profileimage">
      
 <h3 class="mt-3"><span  th:text="${session.students.fullName}"></span></h3>
 -->
 <form action="" th:object="${studentMarks}">
<table class="table">
<!-- <h4>Mark Sheet of Student:</h4> -->
  <thead>
  <tr>
      <th scope="col">studentId</th>
      <th scope="col">SMS10<span th:text="${session.students.rollNo}"></span></th>
     
     
    </tr>
    <tr>
      <th scope="col">student Name</th>
      <th scope="col"><span th:text="${session.students.fullName}"></span></th>
     
     
    </tr>
    <tr>
      <th scope="col">Enrollment No</th>
      <th scope="col"><span th:text="${studentMarks.enrollmentNo}"></span></th>
     
     
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">Mathematics</th>
      <td><span th:text="${studentMarks.mathematics}"></span></td>
   
    </tr>
  
   <tr>
      <th scope="row">Html</th>
      <td><span th:text="${studentMarks.Html}"></span></td>
   
    </tr>
    
     <tr>
      <th scope="row">Java</th>
      <td><span th:text="${studentMarks.java}"></span></td>
   
    </tr>
     
     <tr>
      <th scope="row">Python</th>
      <td><span th:text="${studentMarks.python}"></span></td>
   
    </tr>
    

   
  </tbody>
  
</table>
 </form>
</div>

</div>
</div>

<!-- </div> -->


</section>

</body>
</html>