<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="studentbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />

<script type="text/javascript" src"../../static/js/view.js"></script>

</head>
<body>
<section>
  <h1>Welcome to Student Portal:</h1> 
 <!-- <h2 class = "text-right" th:text="${student.name}"></h2> -->

 <div class="card">
  <h5 class="card-header"><i class="fas fa-credit-card "></i> MarkSheet</h5> 
  <div class="card-body">
    <h5 class="card-title">Student can view their performance here</h5>
    <p class="card-text">Performance of the student would be good,otherwise, admin can reject your profile</p>
   <!--  <a href="#"  th:href="@{/viewmarksheet}" class="btn btn-primary">View Marksheet</a>
   -->
   
<a href="#"  th:href="@{/marksheet/{studentRoll}(studentRoll=${session.students.rollNo})}" class="btn btn-primary" onclick="myFunction()" >View Marksheet</a>
  
  </div>
</div>
 
<!-- <div class="alert alert-info mt-3" role="alert">
 <h3 class= "text-center"><span  th:text="${session.admins.Notice}"></span></h3>
 <h5 class= "text-center"> <p class="card-text"><small class="text-muted">Posted by :<td class="table-active" th:text="${session.admins.name}"></td></small></p></h5>
    </div> -->
 
  </section>
 
</body>
</html>