<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container mt-5">
  <!-- <h2 class = "text-right" th:text="${student.name}"></h2> -->
 <!-- <h1>welcome <small><span th:text="${studentlogindetails.fullName}"></span> </small> </h1> -->
 
 
     <!--  <h3 class= "text-center mt-5">Notice Board</h3> -->
 <div class="alert alert-info mt-3" role="alert">
 <h3 class= "text-center"><i class="fas fa-bell "> </i> <span  th:text="${session.admins.Notice}"></span></h3>
 <h5 class= "text-center"> <p class="card-text"><small class="text-muted">Posted by :<td class="table-active" th:text="${session.admins.name}"></td></small></p></h5>
    </div>
 <div class="card">
  <div class="card-header">
  <i class="fas fa-bell"></i> <b>Notifications</b> 
  </div>
  
  <div class="card-body">
   
    <p class="card-text">Send any Notification to Student and Teacher</p>
    <a href="#" th:href="@{/notification}" class="btn btn-primary">Give Notification</a>
  </div>
</div>



 <div class="card mt-3">
  <div class="card-header">
 <i class="fas fa-award"></i> <b> Results</b>
   
  </div>
  <div class="card-body">
    
    <p class="card-text">View Student results Here</p>
    <a href="#" th:href="@{/viewmarksheet}" class="btn btn-primary">View</a>
  </div>
</div>

 

 
 
  
 
   </div>
  </section> 
 
</body>
</html>