<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<section>
<div class="container mt-5">


 <div class="my-card mr-3">
    <div class="card-body">
  <h1 class="text-center"> Give Notification</h1>
  
  
  <div class="container-fluid mt-1">
  <div class="row">
  
  
  <div class="col-md-10 offset-md-1"> 
  
  
  
  
  <form th:action="@{/adminupdate/{adminId}(adminId=${admin.adminId})}"  th:object="${admin}"   method="post"  class="mt-2">
  <input type="hidden" th:value="${admin.adminId}" name="adminId"/>
  <!-- <label class="form-label">teacher name</label> -->
   <div class="input-group">
   
        <div class="input-group-prepend">
           <div class="input-group-text">
          
             <i class="fas fa-user-alt"></i>
           
           </div>
  
  </div>
  
      <input th:value="${admin.name}" type="text" id="name" name="name" placeholder="Enter admin name here" class="form-control" >
 
  </div>
  
  <div class="input-group mt-3">
   
        <div class="input-group-prepend">
           <div class="input-group-text">
          
             <i class="fas fa-plus"></i>
           
           </div>
  
  </div>
  
      <input th:value="${admin.role}" type="text" id="role" name="role" placeholder="Enter Role here" class="form-control" >
 
  </div>
  
  
  <div class="input-group mt-3">
   
        <div class="input-group-prepend">
           <div class="input-group-text">
          
             <i class="fas fa-plus"></i>
           
           </div>
  
  </div>
  
      <input th:value="${admin.email}" type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" >
 
  </div>
  
  
  
  <div class="input-group mt-3">
   
        <div class="input-group-prepend">
           <div class="input-group-text">
          
             <i class="fas fa-plus"></i>
           
           </div>
  
  </div>
  
      <input th:value="${admin.password}" type="password" id="password" name="password" placeholder="Enter password here" class="form-control" >
 
  </div>
  
     <div class="input-group mt-3">
   
        <div class="input-group-prepend">
           <div class="input-group-text">
          
             <i class="fas fa-plus"></i>
           
           </div>
  
  </div>
  
      <input th:value="${admin.Notice}" type="text" id="Notice" name="Notice" placeholder="Enter Notification here" class="form-control" >
 
  </div>
 <div class="container text-center">
  <button class="btn btn-primary mt-3 ">Send</button>
  </div>
  
  
  </form>
  </div>
 </div>
 </div>
  </div>
  </div>

</div>
</section>
</body>
</html>