<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
<section>

<div class="container mt-3">

<h1 align="center"><i class="fas fa-user-graduate"> </i> View Students</h1>
<div th:if="${session.message12}" th:classappend="${session.message12.type}" class="alert" role="alert">
       <p class="text-center" th:text="${session.message12.content}"></p>
       
       <th:block th:text="${#session.removeAttribute('message12')}"></th:block>
     </div>
<h1> <button type="submit" class="btn btn-success"><a th:href="@{/addstudent}" style="color:white;"><i class="fas fa-user-plus"> </i>  Add Student</a></button></h1>
 </div>
<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">studentRollNo</th>
      <th scope="col">Student fullName</th>
      <th scope="col">Student Email</th>
      <th scope="col">Student contactNumber</th>
      <!-- <th scope="col">Student password</th> -->
      <th scope="col">Student image</th>
      
     <th scope="col">Action </th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="student:${studentObj}">
      
      <td th:text="${'SMS10'+student.rollNo}"></td>
  
  
      <td>
      <img src=" "  class = "my-profileimage" th:src="@{'/img/'+${student.image}}" alt="profileimage">
      <span th:text="${student.fullName}"></span>
      </td>
     
       <td>
        <a href="#" th:href="@{'/studentdetails/'+${student.rollNo}}">
       <span th:text="${student.studentEmail}"  ></span></a>
       </td>
      
       <td th:text="${student.contactNumber}"></td>
       <td th:text="${student.image}"></td>
     
     <td>
        <a th:href="@{'/students/'+${student.rollNo}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"> </i> delete</a>
 
        <a  th:href = "@{/updatestudentform/{rollNo}(rollNo=${student.rollNo})}" type="submit" class="btn btn-primary btn-sm"><i class="fas fa-pen"> </i> update</a>
  
    </td> 
   </tr>
   
  </tbody>
 </table>


<!--  pagination  -->

<!-- <nav aria-label="Page navigation example">
  <ul >
    <li th:if="${currentPage!=0}" class="page-item"><a th:href="@{'/viewteachers/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each ="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/viewteachers/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    <li th:if="${currentPage+1<=totalPages}"class="page-item"><a  th:href="@{'/viewteachers/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>  -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li  th:if="${currentPage !=0}" class="page-item"><a th:href="@{'/viewstudents/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/viewstudents/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    <li th:if="${currentPage+1<=totalPages}" class="page-item"><a th:href="@{'/viewstudents/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>


</section>
</body>
</html>

   
       