<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
</head>
<body>

<section class="background  align-items-center">

<h1 class="text-center"><font face="times new roman" color="Pink">ABOUT   US</font></h1>
<h5 class= "text-center"> <small class="text-muted">We are doing little bit different,that may help us to Grow</small></h5>

 <img class="aboutt" style="height:300px; width:300px;" src="../img/aboutt.jpg" alt="Card image cap">
   
   <h4><font face="times new roman" color="pink">Our Team</font></h4>
<h2> Building Project called School Management System</h2>
<p> here, we can see details of teacher,student,admin and how the process is going on in the school<br/>
We have started this project, to make better Understandable to students and parents.<br/> 
Parents can also view the performance of the students
</p>
<br/>
<h4 ><font face="times new roman" color="pink">Project Structure</font></h4>
<i>Once check the flow of the Project to get the concept what we are Doing</i>

<div class="a">
     <a href="https://app.diagrams.net/#LUntitled%20Diagram"><b>Click here to View</b></a>
    </div>
    
    
    <h5 class= "footer"> <small class="text-muted" color="pink">@All Rights Reserved</small></h5>
    
</section>
</body>
</html>