<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
</head>
<body>

<section> <!-- class="ERdiagram d-flex justify-content-center  align-items-center" -->

<h1><marquee>SCHOOL MANAGEMANT SYSTEM</marquee></h1>
<h2> building project called school management system</h2>
<p> here, we can see details of teacher,student,admin and how the process is going on in the school</p>
<i>once check the entity diagram of this project to get the concept in easy way</i>

<div class="a">
     <a href="https://app.diagrams.net/#LUntitled%20Diagram">entity-relationship diagram</a>
    </div>
    
    
</section>
</body>
</html>