<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">base </title>
  </head>
  <body>
  
  <!--nav bar -->
   <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
  <a class="navbar-brand" href="#"><i class="fas fa-school "></i> School Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item active">
        <a th:href="@{/home}" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" th:href="@{/about}" href="#">About</a>
      </li> -->
      
     
      <li class="nav-item">
        <a class="nav-link"  th:href="@{/studentlogin}" href="#">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  th:href="@{/teacherlogin}" href="#">Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  th:href="@{/adminlogin}" href="#">Admin</a>
      </li>
      
      
    </ul>
    
  </div>
</nav>
<!-- side bar -->
     
    <div class="sidebar">
    
    <span th:onclick="toogleSidebar()" class="crossbutton">&times;</span>
    <a href="#" class="item" th:href="@{home}"><i class="fa-solid fa-house"></i>Home</a>
 
   <a href="#" class="item" th:href="@{teacherlogin}"><i class="fas fa-chalkboard-teacher"></i>Teacher</a>
    <a href="#"  class="item" th:href="@{studentlogin}"><i class="fas fa-users"></i>Student</a>
<a href="#"  class="item" th:href="@{adminlogin}"><i class="fas fa-user-graduate"></i>Admin</a>
   
    
    
    </div> 
    <!--end side bar  -->
    
    
    <!-- content area -->
    <div class="content">
    
   <!--  <i onclick="toogleSidebar()" class="fas fa-bars m-3 "></i> -->
    
     <div th:replace="${content}"> </div>
    </div>
    <!--end content area  -->
  
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script th:src="@{/js/script.js}"> </script>
  </body>
</html>