<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
</head>
<body>


<section class="background ">
  
  
 <img class="contactus" style="height:100px; width:1270px;" src="../img/contactus.jpg" >
   
<h1 class="text-center"><font face="times new roman" color="Pink">CONTACT  US</font></h1>
<h5 class= "text-center"> <small class="text-muted">You can Contact Us Here</small></h5>

<h3 class="text-center"> <i class="fas fa-graduation-cap"></i>  Sravani Chengannagari</h3>

<h3 class="text-center"><i class="fas fa-envelope"></i>  <a th:href="@{/email}" style="color:blue;">Sravaniprasad939@gmail.com</a></h3>

<h3 class="text-center"><i class="fas fa-map-marker-alt"></i>  Kadapa(Dist),Andhrapradesh,India<br/>NoonevariPalli Road</h3>

<h3 class="text-center"> <i class="fas fa-phone-alt"></i> 9666497940</h3>

<br/>
</section>
</body>
</html>