<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teacherbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="background  ">
  <h1>Welcome to Teacher Portal</h1> 
 <!-- <h2 class = "text-right" th:text="${student.name}"></h2> -->
 <!-- <h1>welcome <small><span th:text="${studentlogindetails.fullName}"></span> </small> </h1> -->
   <h1 class="text-center mt-5"><a th:href="@{/students}" > <button type="submit" class="btn btn-primary">View Students</button></a></h1>
   
   
   
  </section>
 
</body>
</html>